/* Variabler */
:root {
  --fish-small-w: 250px;
  --fish-big-w: 350px;
  --off-fish4: 350px;
  --font:"Andika";
}

/* Reset style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Baggrund og body */
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Fisk container */
.fisk-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: visible;
}

.fisk-container div {
  position: absolute;
  z-index: 3;
  bottom: 0;
  will-change: transform;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.fisk-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* Animation til klovnfisk */
.fish1 {
  bottom: 4vh;
  width: var(--fish-small-w);
  left: calc(-1 * var(--fish-small-w));
  animation: fish1 12s linear infinite;
  animation-delay: 0s;
  z-index: 1;
}
@keyframes fish1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw + var(--fish-small-w)));
  }
}

/* Animation til sandspiser-gobi */
.fish2 {
  bottom: 8vh;
  width: var(--fish-small-w);
  right: calc(-1 * var(--fish-small-w));
  animation: fish2 14s linear infinite;
  animation-delay: 2s;
  z-index: 1;
}
@keyframes fish2 {
  0% {
    transform: translateX(0) rotateY(180deg);
  }
  100% {
    transform: translateX(calc(-100vw - var(--fish-small-w))) rotateY(180deg);
  }
}

/* Animation til rævefisken */
.fish3 {
  bottom: 10vh;
  width: var(--fish-big-w);
  left: calc(-1 * var(--fish-big-w));
  animation: fish3 8s linear infinite;
  animation-delay: 4s;
  z-index: 1;
}
@keyframes fish3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw + var(--fish-big-w)));
  }
}

/* Animation til pindsvinefisken */
.fish4 {
  bottom: 40vh;
  width: var(--fish-big-w);
  right: calc(-1 * var(--fish-big-w));
  animation: fish4 16s linear infinite;
  animation-delay: 6s;
  z-index: 1;
}
@keyframes fish4 {
  0% {
    transform: translateX(0) rotateY(180deg);
  }
  100% {
    transform: translateX(calc(-100vw - var(--fish-big-w))) rotateY(180deg);
  }
}

/* Animation til pudsefisken */
.fish5 {
  bottom: 20vh;
  width: var(--fish-small-w);
  left: calc(-1 * var(--fish-small-w));
  animation: fish5 18s linear infinite;
  animation-delay: 8s;
  z-index: 1;
}
@keyframes fish5 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw + var(--fish-small-w)));
  }
}

/* Animation til kirurgfisken */
.fish6 {
  bottom: 12vh;
  width: var(--fish-big-w);
  right: calc(-1 * var(--fish-big-w));
  animation: fish6 8s linear infinite;
  animation-delay: 1.5s;
  z-index: 1;
}
@keyframes fish6 {
  0% {
    transform: translateX(0) rotateY(180deg);
  }
  100% {
    transform: translateX(calc(-100vw - var(--fish-big-w))) rotateY(180deg);
  }
}

/* Animation til blå chromis */
.fish7 {
  bottom: 14vh;
  left: calc(-1 * var(--fish-small-w));
  width: var(--fish-small-w);
  animation: fish7 7s linear infinite;
  animation-delay: 1s;
  z-index: 1;
}
@keyframes fish7 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw + var(--fish-small-w)));
  }
}


/* Akvariemanden */

.akvariemanden img {
  bottom: -1vh;
  max-width: 65vh;
  position: absolute;
}

.akvariemanden-closed-mouth img {
  z-index: 10;
}

/* Akvariemandens tekstbokse */

.akvariemand-start-tekstboks {
  border: 1.5px solid rgb(211, 83, 15);
  background-color: rgb(245, 203, 32);
  max-width: fit-content;
  padding: 2vh;
  border-radius: 1rem;
  position:absolute;
  top: 90vh;
  z-index: 12;
  left: 5.4vw;
  font-family: var(--font);
  animation: pulse 2.5s infinite;
}

.akvariemand-slut-tekstboks {
  background-color: white;
  max-width: fit-content;
  padding: 2vh;
  border-radius: 1rem;
  border: 1.5px solid black;
  top: 76.5vh;
  position: absolute;
  z-index: 13;
  left: 20vw;
  font-family: var(--font);
  opacity: 0;
}

/* Laver en klasse der gør "klik på mig" knappen usynlig */
.akvariemand-start-tekstboks.is-not-visible {
  opacity: 0;
}

/* Animation til "klik på mig" knappen */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* Laver en klasse der gør akvariemandens slut tekstboks synlig */
.akvariemand-slut-tekstboks.is-visible {
  opacity: 1;
}